*{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(204, 204, 204, 0.8);
  ;
}
a{
  text-decoration: none;
  color:black;
}
a:visited{
  color: black;
}

li{
  list-style: none;
}

img{
  width: 100px;
}

svg{
  width: 100px;
  height: 100px;
}
header{
  padding-top: 60px;
}