:root {
    --black: #000000;  /* Negro - Fondo principal */
    --green-light: #8BC34A;  /* Verde claro - Botones de agregar */
    --gold: #FFD700;  /* Oro - Letra en hover */
    --white: #ECEFF1;


    --crimson: #DC143C;  /* Crimson - Botones de borrar */

    /* Puedes agregar más colores según sea necesario */
    --blue: #2196F3;
    --blue-light:#698ae8;  /* Azul - Puede ser útil para resaltar elementos */

    --grey-light: #CCCCCC;  /* Gris claro - Puede ser útil para fondos secundarios */
    --grey-dark: #333333;  /* Gris oscuro - Puede ser útil para textos secundarios */
    --grey-light-transparent:rgba(204, 204, 204, 0.8);
}
